@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy are written by vinoth kumar who is hosting</p>

<p class="tech">I am optimus prime and i send this message to any surviving auto bots taking refuge among the stars:</p>

<p class="tech">we are here.</p>

<p class="tech"> we are waiting......</p>

<p class="tech"> Directed by .... michael bay </p>

<p class="tech"> Checking webhook</p>
